@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave|Fjalla+One');

body {
  height: 80vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  background: no-repeat url('../images/background1.jpg');
  background-size: cover;
}

.board {
  background: border-box url('../images/blackboard-background.jpg');
  background-size: cover;
  margin-top: 22vh;
  padding: 11px 10px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10vh;
}

.main {
  width: 60vw;
  height: 50vh;
  padding: 2% 4%;
}

.about {
  margin-top: 10vh;
  padding: 1% 4% 5%;
}

.menu {

}

.order {

}

h1 {
  font-family: 'Sedgwick Ave';
  text-align: center;
  font-size: 4rem;
  color: cornsilk;
  text-shadow: 2px 2px 0px #222831;
}

.head {
  font-family: 'Sedgwick Ave';
  text-align: center;
  font-size: 4rem;
  color: cornsilk;
  opacity: 0;
  text-shadow: 2px 2px 0px #222831;
}

span {
  color: cornsilk;
  font-size: 1rem;
}

img {
  opacity: 0;
}

.animation_h2 {
  animation: slide 0.6s ease 0.4s;
  animation-fill-mode: forwards;
}

.animation_h1 {
  animation: slide 0.6s ease 0.2s;
  animation-fill-mode: forwards;
}

.animation_logo {
  animation: logo 1.5s ease 0.2s;
  animation-fill-mode: forwards;
}

.nav-wrapper {
  background: #292c31;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 100;
}

.nav-wrapper li a {
  color: #fd5f00;
  transition: all 0.2s;
  border: #fd5f00;
}

.nav-wrapper li a:hover {
  border-bottom: 3px solid #fd5f00;
}

@keyframes slide {
  0% {
    transform: translate3d(-600px, 0, 0);
  }
  60% {
    transform: translate3d(40px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes logo {
  0% {
    transform: translate3d(0, -200px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  img {
    height: 70px;
    width: 70px;
  }
  body {
    background-size: 100vw 100vh;
  }
}