@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave|Fjalla+One');

:root {
  --text-color: rgb(27, 27, 27);
  --nav-background: rgba(41, 44, 49, 0.7);
  --nav-font: sans-serif;
  --header-font: 'Sedgwick Ave', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  background: no-repeat url('../images/background1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background: var(--nav-background);
}

.head {
  opacity: 0;
}

h1, .delete {
  font-family: var(--header-font);
  text-align: center;
  font-size: 4rem;
  color: var(--text-color);
  transition: ease 0.6s;
}

p {
  color: var(--text-color);
  font-size: 1rem;
}

img {
  opacity: 0;
}

.admin-table td,
.admin-table th,
.admin-table caption {
  color: var(--text-color);
  font-size: 2rem;
}
